body{
   background-image: url(JoãoPessoa.jpg);
   background-size: cover;
   background-repeat: no-repeat;/*evita a repetição da imagem*/
   background-position: center;
   height: 100vh;/*ocupa a tela toda*/
   margin:0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.titulo{
   text-align: center;
   color: rgb(0, 0, 0);
}
footer{
   background-color: rgb(115, 115, 115);/*cor de fundo*/
   color: aliceblue;/*cor do texto*/
   padding: 20px 0; /*espaço superior e inferior*/
   text-align: center;
   width: 100%;
}
.footer-conteudo{
   max-width: 1200px;/*largura*/
   margin: 0 auto;/*centraliza conteudo*/
   padding: 0 20px;/*espaço lateral*/
}
footer nav ul li{
   display: inline;/*retira o ponto*/
   padding: 0;
}
footer nav ul li a{
   color: white;
   text-decoration: none;/*remove o sublinhado*/
}
footer nav ul li a:hover{
   text-decoration: underline;
}