body {
   background-image: url(fundo-site.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   /*evita a repetição da imagem*/
   background-position: center;
   height: 100vh;
   /*ocupa a tela toda*/
   margin: 0;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.logo {
   width: 170px;
   /*ajustar tamanho*/
   height: auto;
   display: block;
   margin: 0 auto;
}

.cabecalho {
   text-align: center;
   margin-bottom: 10px;
}

#botaoADD {
   display: block;
   width: 200px;
   padding: 10px;
   margin-top: 10px;
   background-color: #66e16a;
   color: white;
   border: none;
   border-radius: 5px;
   font-size: 16px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

#botaoADD:hover {
   background-color: #45a049;
}

.modal {
   display: none;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   justify-content: center;
   align-items: center;
}

.modal-content {
   background-color: white;
   padding: 20px;
   border-radius: 10px;
   width: 300px;
   text-align: center;
}

.close {
   color: red;
   float: right;
   font-size: 24px;
   cursor: pointer;
}

.close:hover {
   color: darkred;
}

input, textarea {
   width: 100%;
   padding: 10px;
   margin: 5px 0;
   border: 1px solid #ccc;
   border-radius: 5px;
}

#listaLocais{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 20px;
   padding: 20px;
   width: 90%;
   max-width: 1200px;
}

footer {
   background-color: rgba(124, 124, 124, 0.7);
   /*cor de fundo*/
   color: aliceblue;
   /*cor do texto*/
   padding: 20px 0;
   /*espaço superior e inferior*/
   text-align: center;
   width: 100%;
}

.footer-conteudo {
   max-width: 1200px;
   /*largura*/
   margin: 0 auto;
   /*centraliza conteudo*/
   padding: 0 20px;
   /*espaço lateral*/
}

footer nav ul li {
   display: inline;
   /*retira o ponto*/
   padding: 0;
}

footer nav ul li a {
   color: white;
   text-decoration: none;
   /*remove o sublinhado*/
}

footer nav ul li a:hover {
   text-decoration: underline;
}